$white: #fff;
$mercury: #e9e9e9;
$blue-haze: #babdd3;
$comet: #5c657c;
$storm-gray: #6d6f78;
$smoky: #57546a;
$pickled-bluewood: #313853;
$cello: #1f3756;
$gun-powder: #404461;
$mirage: #1f263f;
$haiti: #141539;

$victoria: #44488d;
$vin-rouge: #984559;

$royal-blue: #4865f4;
$cornflower-blue: #5671f5;
$governor-bay: #3546bf;

$cerise-red: #dc2e4e;
$cerise-red-ligh: #dd405d;
$claret: #881d39;

$gamboge: #ec9e0e;
$fuel-yellow: #eca922;
$tuscany: #b16b29;


$tablet-width: 768px;
$aboveTablet: 'min-width: #{$tablet-width}';