$symbol-outer-size: 200px;
$symbol-inner-size: 160px;

.symbol {
  border-radius: 50%;

  &:hover {
    cursor: pointer;
  }

  &:active {
    transition: box-shadow 0.3s ease-in-out;
    
    .symbol__outer {
      box-shadow: none;
    }

    .symbol__inner {
      box-shadow: none;
    }
  }

  &--win {
    border: 30px solid rgba(49, 56, 83, 0.3);
  }

  &__outer {
    height: $symbol-outer-size;
    width: $symbol-outer-size;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.3s ease-in-out;

    &--paper {
      background-image: radial-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
      box-shadow: inset 0 -5px 0 0 rgb(53, 70, 191);
    }

    &--rock {
      background-image: radial-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
      box-shadow: inset 0 -5px 0 0 rgb(136, 29, 57);
    }

    &--scissors {
      background-image: radial-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
      box-shadow: inset 0 -5px 0 0 rgb(177, 107, 41);
    }
  }

  &__inner {
    height: $symbol-inner-size;
    width: $symbol-inner-size;
    background-color: rgb(233, 233,233);
    box-shadow: inset 0 5px 0 0 rgb(186, 189, 211);
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__symbol {
    display: flex;

    svg {
      height: 65px;
      color: rgb(64, 68, 97);
    }
  }
}