@import '../../../styles/variable.scss';

$symbol-outer-size: 200px;
$symbol-inner-size: 160px;

.symbol {
  border-radius: 50%;

  &:hover {
    cursor: pointer;
  }

  &:active {
    transition: box-shadow 0.3s ease-in-out;

    .symbol__outer {
      box-shadow: none;
    }

    .symbol__inner {
      box-shadow: none;
    }
  }

  &--win {
    border: 30px solid rgba($pickled-bluewood, 0.3);
  }

  &__outer {
    height: $symbol-outer-size;
    width: $symbol-outer-size;
    background-color: $white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.3s ease-in-out;

    &--paper {
      background-image: radial-gradient($royal-blue, $cornflower-blue);
      box-shadow: inset 0 -5px 0 0 $governor-bay;
    }

    &--rock {
      background-image: radial-gradient($cerise-red, $cerise-red-ligh);
      box-shadow: inset 0 -5px 0 0 $claret;
    }

    &--scissors {
      background-image: radial-gradient($gamboge, $fuel-yellow);
      box-shadow: inset 0 -5px 0 0 $tuscany;
    }
  }

  &__inner {
    height: $symbol-inner-size;
    width: $symbol-inner-size;
    background-color: $mercury;
    box-shadow: inset 0 5px 0 0 $blue-haze;
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__symbol {
    display: flex;

    svg {
      height: 65px;
      color: rgb(64, 68, 97);
    }
  }
}
