@import '../../../styles/variable.scss';

.pick-symbol {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 0 auto;

  &__symbol {
    margin: 0 10px;

    @media (#{$aboveTablet}) {
      margin: 0 30px;
    }

    &:last-child {
      margin-top: 10px;

      @media (#{$aboveTablet}) {
        margin-top: 30px;
      }
    }
  }
}
