@import '../../../styles/variable.scss';

.pick-symbol {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 0 auto;

  &__symbol {
    margin: 0 10px;
    height: $symbol-mobile-size;
    width: $symbol-mobile-size;

    @media (#{$above-big-mobile}) {
      height: $symbol-big-mobile-size;
      width: $symbol-big-mobile-size;
    }

    @media (#{$above-tablet}) {
      margin: 0 30px;
      height: $symbol-size;
      width: $symbol-size;
    }

    &:last-child {
      margin-top: 10px;

      @media (#{$above-tablet}) {
        margin-top: 30px;
      }
    }
  }
}
