.pick-symbol {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 0 auto;

  &__symbol {
    margin: 0 30px;

    &:last-child {
      margin-top: 30px;
    }
  }
}
