@import '../../styles/variable.scss';

.header {
  height: 20vh;
  display: flex;
  align-items: center;

  &__content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 15px 20px;
    border: 3px $comet solid;
    border-radius: 10px;
    max-width: 600px;
    width: 85vw;
  }

  &__title {
    color: $white;
    font-size: 52px;
    line-height: 40px;

    span {
      display: block;
    }
  }

  &__score {
    display: flex;
    justify-content: center;
    padding: 0 5px;
    flex-direction: column;
    background: $white;
    border-radius: 5px;
    min-width: 100px;
    text-align: center;
  }

  &__score-text {
    font-size: 16px;
    color: $victoria;
  }

  &__score-points {
    font-family: 'BarlowSemiCondensedSemiBold';
    font-size: 62px;
    color: $smoky;
  }
}
