@import '../../../styles/variable.scss';

.round {
  display: flex;
  justify-content: center;
  align-items: center;

  &__text {
    color: $white;
    font-size: 24px;
    text-align: center;
  }

  &__score-text {
    color: $white;
    font-size: 32px;
    text-align: center;
  }

  &__button {
    font-family: 'BarlowSemiCondensedBold';
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 10px;
    color: $smoky;
    margin-top: 10px;

    &:hover {
      color: $vin-rouge;
    }
  }

  &__symbol {
    height: 280px;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__empty-symbol {
    background: rgba($mirage, 0.5);
    border-radius: 50%;
    height: 120px;
    width: 120px;
    margin: 30px;
  }
}
