.round {
  display: flex;

  &__picked {
    display: flex;
    flex-direction: column;
  }

  &__text {
    color: #fff;
    font-size: 24px;
    text-align: center;
  }

  &__score {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__score-text {
    color: #fff;
    font-size: 32px;
    text-align: center;
  }

  &__button {
    font-family: 'BarlowSemiCondensedBold';
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 10px;
    color: rgb(87, 84, 106);
    margin-top: 10px;

    &:hover {
      color: rgb(152, 69, 89);
    }
  }
}