@import '../../../styles/variable.scss';

.round {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: inherit;
  width: 100%;

  &__item {
    display: flex;
    flex-direction: column-reverse;

    @media (#{$above-tablet}) {
      flex-direction: column;
    }
  }

  &__result {
    z-index: 1;
    order: 1;

    @media (#{$above-tablet}) {
      order: 0;
    }
  }

  &__text {
    color: $white;
    font-size: 13px;
    text-align: center;

    @media (#{$above-tablet}) {
      font-size: 20px;
    }
  }

  &__score-text {
    color: $white;
    font-size: 42px;
    text-align: center;

    @media (#{$above-tablet}) {
      font-size: 26px;
    }
  }

  &__button {
    font-family: 'Helvetica';
    font-weight: bold;
    font-size: 18px;
    padding: 15px 60px;
    border-radius: 10px;
    color: $smoky;
    margin-top: 10px;
    background: $white;

    @media (#{$above-tablet}) {
      padding: 15px 20px;
    }

    &:hover {
      color: $vin-rouge;
    }
  }

  &__symbol {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 0;
    height: $symbol-mobile-size;
    width: $symbol-mobile-size;

    @media (#{$above-big-mobile}) {
      height: $symbol-big-mobile-size;
      width: $symbol-big-mobile-size;
    }

    @media (#{$above-tablet}) {
      margin-bottom: 0;
      margin-top: 20px;
      height: $symbol-size;
      width: $symbol-size;
    }
  }

  &__empty-symbol {
    background: rgba($mirage, 0.5);
    border-radius: 50%;
    height: 120px;
    width: 120px;

    @media (#{$above-tablet}) {
      height: 200px;
      width: 200px;
    }
  }
}
