@import '../../styles/variable.scss';

.footer {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__text {
    font-size: 14px;
    color: $victoria;
  }

  &__link {
    color: $storm-gray;
    text-decoration: none;
  }
}
